<h2><%= @artwork.name %></h2>
<h3><%= @artwork.artist %></h3>
<h4>Price: $<%= @artwork.price %></h4>
<h4><%= link_to @artwork.museum.name, museum_path(@artwork.museum.id) %></h4>


<%= image_tag @artwork.image_url %>
<%= link_to "[Edit]", edit_artwork_path(artwork: @artwork)%>
